<div class="login-page">
  <div class="login-container">
    <div class="form-section">
      <h1>inscription</h1>

      <form class="login-form" (ngSubmit)="signUp()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>e-mail</mat-label>
          <input
            id="email"
            matInput
            type="email"
            placeholder="example@email.com"
            [(ngModel)]="email"
            name="email"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input
            id="password"
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </mat-form-field>

        <a class="forgot-password">Mot de passe oublié ?</a>

        <div class="separator">---</div>

        <button
          mat-raised-button
          color="primary"
          class="login-btn"
          type="submit"
        >
          Se connecter
        </button>

        <div class="or-divider">
          <span class="or-text">Ou</span>
        </div>

        <button mat-stroked-button class="social-btn" type="button">
          <img
            src="../assets/images/google.png"
            alt="Google"
            class="social-icon"
          />
          Se connecter avec Google
        </button>

        <button mat-stroked-button class="social-btn" type="button">
          <img
            src="../assets/images/fb.png"
            alt="Facebook"
            class="social-icon"
          />
          Se connecter avec Facebook
        </button>
      </form>


    </div>

    <div class="image-section"></div>
  </div>
</div>
