.card-container {
    text-align: left;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.example-card {
    width: 270px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    //background-color: #f0f8d8; /* Couleur de fond similaire à l'image */
}

img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

mat-card-content {
    padding: 16px;
}

.price {
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3px;
}

/* Positionnement de l'icône bookmark */
.bookmark {
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}
