<div class="card-container">
    <mat-card *ngFor="let card of cards" class="example-card">
      <img mat-card-image [src]="card.image" [alt]="card.title" />
      <mat-card-content>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ card.title }}</mat-card-title>
            <mat-card-subtitle>{{ card.location }}</mat-card-subtitle>
          </mat-card-header>
        <p class="price">{{ card.price }}€</p>
      </mat-card-content>
    </mat-card>
  </div>
