<div class="card-container">
  <mat-card *ngFor="let card of cards" class="example-card" (click)="onCardClick(card)">
    <img mat-card-image [src]="card.image" [alt]="card.title" />
    <mat-card-content>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-subtitle>{{ card.location }}</mat-card-subtitle>
      </mat-card-header>
      <p class="price">{{ card.price }}€</p>
      <mat-icon class="bookmark">bookmark_border</mat-icon>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>