.buttonsAccueil {
    display: flex;              
    justify-content: flex-start; 
    margin-left: 50px;         
    margin-top: 250px;         

    button {
        margin-right: 10px;     

        &:last-child {
            margin-right: 0;     
        }
    }
}
