.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  display: flex;
  justify-content: space-between; // Sépare les éléments (menu à gauche, boutons à droite)
  align-items: center; // Aligne verticalement les éléments dans la toolbar

  .buttonsRight {
    margin-left: auto; // Pousse le div avec les boutons à droite
    display: flex;
    gap: 10px; // Ajoute un espacement entre les boutons
  }
  .buttonsLeft{
    margin-left: 20px;
    display: flex;
    gap: 10px;
  }
}

mat-toolbar {
  background-color: #F2F2F2 !important; // Couleur de fond personnalisée
  color: #495747;  // Couleur du texte pour s'adapter à votre palette
  .mat-button, .mat-raised-button {
    background-color: transparent !important;  // Retirer le fond des boutons
  }
}

