<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>UP'IT</span>
      <div class="buttonsLeft">
        <button mat-button color="black">Accueil<mat-icon>home</mat-icon></button>
        <button mat-button color="black">Nos produits<mat-icon>store</mat-icon></button>
        <button mat-button color="black">A propos<mat-icon>stars</mat-icon></button>
        <button mat-raised-button color="accent">Mettre en vente
          <mat-icon>add</mat-icon></button>



      </div>
      <div class="buttonsRight">
        <button mat-button color="black">Inscription<mat-icon>person_add</mat-icon></button>
        <button mat-button color="black">Connexion<mat-icon>account_circle</mat-icon></button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  
    
  </mat-sidenav-content>
</mat-sidenav-container>