<div class="background-container">
  <div class="title-text">
    <h1>Pour un futur plus durable et plus responsable</h1>
    <p>Faites vos achats de matériaux d'occasion</p>
  </div>
  <div class="buttonsAccueil">
    <button mat-raised-button color="primary" [routerLink]="['/produit']">Découvrez nos produits<mat-icon>arrow_forward</mat-icon></button>
    <button mat-raised-button color="accent" [routerLink]="['/mettre-en-vente']">Mettre en vente<mat-icon>add</mat-icon></button>
  </div>
</div>
<div class="announcements-section">
  <h2>Dernières annonces</h2>
  <div class="cards-container">
    <div class="card">
      <img src="" alt="Image 1">
      <p class="title">Lot de palettes</p>
      <p class="location">Bordeaux 33000</p>
      <p class="price">55€</p>
    </div>
    <div class="card">
      <img src="" alt="Image 2">
      <p class="title">Canapé</p>
      <p class="location">Lille 59800</p>
      <p class="price">20€</p>
    </div>
    <div class="card">
      <img src="" alt="Image 3">
      <p class="title">Table</p>
      <p class="location">Paris 75000</p>
      <p class="price">9€</p>
    </div>
  </div>
</div>

<div class="button-annonce">
  <button mat-raised-button color="primary">Voir plus d'annonces<mat-icon>arrow_forward</mat-icon></button>
</div>

<div class="trusted-section">
  <h2>Ils nous font confiance !</h2>
  <div class="cards-trusted-container">
    <mat-card class="trusted-card">
      <h3>La maison du bâtiment</h3>
      <div class="stars-container">
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
      </div>
      <p>Un excellent moyen de gagner de l'argent en vendant ses anciens matériaux. Cela permet d’éviter la déchetterie.</p>
    </mat-card>
    

    <mat-card class="trusted-card">
      <h3>BTP Nord</h3>
      <div class="stars-container">
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
      </div>
      <p>Une plateforme simple et efficace pour vendre ses anciens matériaux d'occasion dont on veut se débarrasser.</p>
    </mat-card>

    <mat-card class="trusted-card">
      <h3>Alain P.</h3>
      <div class="stars-container">
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
        <mat-icon color="accent">star</mat-icon>
      </div>
      <p>La livraison de ma commande était très rapide et sérieuse. J'ai apprécié le fait que Up'it utilise des camions électriques.</p>
    </mat-card>
  </div>
</div>

<div class="delivery-section">
  <div class="delivery-text">
    <h2>Une livraison plus propre et plus silencieuse</h2>
    <p>Nous sommes fiers d'annoncer que nous avons fait le choix d’acheter des camions électriques dernière génération pour assurer nos livraisons. Cette décision est importante pour nous car elle nous permet de réduire notre impact environnemental et de contribuer à un avenir plus durable.</p>
  </div>
  <div class="delivery-image">
    <img src="/assets/images/camion.jpg" alt="Camion électrique">
  </div>
</div>
