<div class="background-container">
  <div class="buttonsAccueil">
    <button mat-raised-button color="primary">Découvrez nos produits<mat-icon>arrow_forward</mat-icon></button>
    <button mat-raised-button color="accent">Mettre en vente<mat-icon>add</mat-icon></button>
  </div>
</div>
<div class="announcements-section">
  <h2>Dernières annonces</h2>
  <div class="cards-container">
    <div class="card">
      <img src="" alt="Image 1">
      <p class="title">Lot de palettes</p>
      <p class="location">Bordeaux 33000</p>
      <p class="price">55€</p>
    </div>
    <div class="card">
      <img src="" alt="Image 2">
      <p class="title">Canapé</p>
      <p class="location">Lille 59800</p>
      <p class="price">20€</p>
    </div>
    <div class="card">
      <img src="" alt="Image 3">
      <p class="title">Table</p>
      <p class="location">Paris 75000</p>
      <p class="price">9€</p>
    </div>
  </div>
</div>

<div class="button-annonce">
  <button mat-raised-button color="primary">Voir plus d'annonces<mat-icon>arrow_forward</mat-icon></button>
</div>